<!DOCTYPE html>
<html lang="" ng-app="todoApp">
	<head>
	 	<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Todo List</title>
		
		<!-- bower:css -->
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="bower_components/toastr/toastr.css" />
		<link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
		<!-- endbower -->

		<!-- inject:css -->
		<link rel="stylesheet" href="/app/css/style.css">
		<!-- endinject -->

	</head>
	<body ng-controller="todoCtrl">
		<h1 class="text-xs-center">Todo App</h1>
		<div id="container">
			<div class="pad-box">
				<div id="input-box">
					<form>
						<div id="label-add">
							Add Todo Item
						</div>
							<div id="input-add">
							
								<div id="text-input-box" class="input-box">
									<div>
										<label for="task-input">Task:</label>
									</div>
									<div>
										<input ng-model="name" id="task-input" type="text">
									</div>
								</div>
								<div id="priority-input-box" class="input-box">
									<div>
										<label for="priority-input">Priority:</label>
									</div>
									<div>
										<select ng-model="priority" ng-init="priority='1'" id="priority-input">
											<option value="3" selected="selected">High Priority</option>
											<option value="2">Medium Priority</option>
											<option value="1">Low Priority</option>
										</select>
									</div>
								</div>	
							</div>
						<div id="button-add">
							<button ng-click="addTask()">
								Add Todo
							</button>
						</div>
					</form>
				</div>
			</div>
			<div id="output-box">
				<div id="priority-buttons">
					<button class="btn btn-default" ng-click="order = '-priority'">Order by highest priority</button>
					<button class="btn btn-default" ng-click="order = 'priority'">Order by lowest priority</button>
					<button class="btn btn-default" ng-click="order = 'name'">Order alphabetically</button>
				</div>
				<div id="task-list" data-as-sortable="board.dragControlListeners" data-ng-model="tasks">
					<div ng-repeat="task in tasks | orderBy:order"  data-as-sortable-item class="task priority{{task.priority}}">
						<div data-as-sortable-item-handle>{{ task.name }}</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/toastr/toastr.js"></script>
		<script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
		<!-- endbower -->

		<!-- inject:js -->
		<script src="/app/index.js"></script>
		<!-- endinject -->
	</body>
</html>