.input-box {
	padding: 20px;
	padding-top: 10px;
}

#button-add {
	padding: 15px;
	background-color: blue;
	display: flex;
	justify-content: center;
	font-weight: normal;
}


#priority-input{
	font-weight: normal;
}

#input-box {
	background-color: #E3D2D2;
	padding: 0px;
	display:inline-block;
	font-weight: bold;
	font-size: 15px;
}

#output-box {
	display:inline-flex;
	justify-content: center;
	padding-right:0px;
	align-items: flex-start;
	flex-direction: column;
	height:100%;
	width:100%;
}

#label-add{
	display:flex;
	justify-content: center;
	padding: 15px;
	background-color: blue;	
	color:white;
}

.btn {
	font-size: 13px;
}

.row{
	padding:20px;
}

#container {
	padding:20px;
	display:flex;
	flex-direction: row;
}

.pad-box {
	padding-right:15px;
	display:inline-block;
}

@media (max-width: 440px){
	.pad-box {
		padding-bottom:30px;
		padding-right:0px;
	}	

	#container{
		flex-wrap: wrap;
		justify-content: center;
	}

	#input-box{
		flex-direction: column;
	}
}

.priority2 {
	background-color: #C8C8C8;
}

.priority3 {
	background-color: #AFAFAF;
}

.priority1 {
	background-color: #E1E1E1;
}

#task-list{
	display:flex;
	flex-direction: column;
	width:100%;
	padding-top: 10px;
}

#task-input{
	font-weight: normal;
	display:flex;
}

.task {
	display:stretch;
	padding:5px;
	flex-grow:1;
}

.btn-default{
	flex-grow: 1;
	background-color: blue;
	padding: 5px;
}

.btn-default:hover {
	background-color: #0000A6
}

#priority-buttons {
	width:100%;
	display:flex;
	flex-grow: 1;
	flex-direction: row;
	flex-basis: auto;
	align-items: stretch;
	flex-wrap: wrap;
	color: white;
}